.game-container {
    display: flex;
    justify-content: center;  /* Centers the entire game horizontally */
    align-items: center;      /* Centers the game vertically */
    height: 100vh;            /* Full height of the viewport */
    gap: 20px;                /* Adds space between the chessboard and the controls */

}

.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.controls-container {
    display: flex;
    flex-direction: column;   /* Stacks the title and button container vertically */
    align-items: center;
    gap: 20px;                /* Adds space between title and buttons */
}

.captured {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    outline: white thick;
    border: 2px white solid;
    border-radius: 15px;
    align-items: center;
}

.win-container{
    width: 200px;
    height: 900px;
    align-content: center;
}
button{
    color: white;
}
.captured-container{
    display: flex;
    padding-bottom: 5px;
}

.score{
    font-size: 23px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
}

.players{
    color: white;
    font-family: "Times New Roman";
}
.game-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}


.numbers{
    width: 40px;
    color: grey;
    height: 800px;
    display: grid;
    justify-items: center;
    padding-right: 3px;
    padding-left: 3px;
}

.letters{
    width: 800px;
    color: grey;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.moves{
    height: 800px;
    width: 150px;
    background-color: grey;
    display: flex;
}


.button-container {
    display: flex;
    gap: 20px;                /* Adds space between the buttons */
}

button {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 20px;
    color: #646cff;
}

.players{
    font-size: 25px;
}