.tile{
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
    color: white;
}
.chess-piece{
    height: 94px;
    width: 94px;
    background-repeat: no-repeat;
    background-position: center;
}

.chess-piece:hover{
    cursor: grab;
    outline: white solid 3px;
    background-color: rgb(173,193,58);
}

.chess-piece:active{
    cursor: grabbing;
}

 .black-tile{
    background-color: #779556;
}
 .white-tile{
    background-color: white;
}